*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
*::selection{
    background-color: #006241;
    color: white;
}

/*STARBUCKS EN RESOLUCION FIRST-MOVILE*/

/*HEADER*/
.header{
    background-color: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    box-shadow: 10px 4px 17px 5px rgba(0,0,0,0.75);
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0%;
    left: 0%;
   
}

.header__imgLogo{
    width: 50px;
}
.header__nav-enlaces,.header__contenedor-usuario {
    display: none;
}
.header__contenedor-usuario-hamburger{
    color: white;
    font-size: 40px;
}
/*MAIN*/
.main{
    margin-top: 80px;
    padding: 30px;
    
}
.main__titulo{
    font-size: 50px;
    line-height: 1.2;
}
.main__contenedor-imgLogo-starbuck-Main{
    display: none;
}
.main__titulo span{
    color: #006241;
}
.main__parrafo{
    margin-top: 20px;
    font-weight:bolder;
}
.main__contenedor-titulo-parrafo{
    display: flex;
    flex-direction: column;

}
/*SECTION1-GALERIA*/
.section1{
    background-color: #006241;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.section1__galeria{
    width: 80%;
    margin-top: 15px;
    margin-left: 33px;

}