*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
*::selection{
    background-color: #006241;
    color: white;
}

/*STARBUCKS EN RESOLUCION FIRST-MOVILE*/

/*HEADER*/
.header{
    background-color: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    box-shadow: 10px 4px 17px 5px rgba(0,0,0,0.75);
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0%;
    left: 0%;
   
}

.header__imgLogo{
    width: 50px;
}
.header__nav-enlaces,.header__contenedor-usuario {
    display: none;
}
.header__contenedor-usuario-hamburger{
    color: white;
    font-size: 40px;
}
/*MAIN*/
.main{
    margin-top: 80px;
    padding: 30px;
    
}
.main__titulo{
    font-size: 50px;
    line-height: 1.2;
}
.main__contenedor-imgLogo-starbuck-Main{
    display: none;
}
.main__titulo span{
    color: #006241;
}
.main__parrafo{
    margin-top: 20px;
    font-weight:bolder;
}
.main__contenedor-titulo-parrafo{
    display: flex;
    flex-direction: column;

}
/*SECTION1-GALERIA*/
.section1{
    background-color: #006241;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.section1__galeria{
    width: 80%;
    margin-top: 15px;
    margin-left: 33px;

}
/*SECTION2-CONTACTANOS*/
.section2{
    background-color: #141414;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.section2__titulo-contactanos{
    color: #006241;
    text-align: center;
     margin: 25px;
     font-size: 37px;
     font-weight:normal ;
}
.section2__contenedor-formulario{
    background-color: #006241;
    padding: 10px;
    
}
.section2__label{
    color: white;
    margin: 5px;
}
.section2__button{
    background-color: #006241;
    width: 120px;
    height: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    
}

.section2__contenedor-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}
.section2__input-gmail{
    height: 30px;
    border-radius: 8px;
    border-color: white;
   

}
.section2__textarea{
    border-radius: 8px;
    border-color: white;
    height: 50px;
    padding: 5px;
    
}
.section2__input-gmail:focus,
.section2__textarea:focus{
    background-color: yellow;
    

}

    
.section2__input-gmail::placeholder,
.section2__textarea::placeholder
{
    color: #006241;
    font-size: 15px;
    font-weight: 100;
     
}
/*SECCION3-CARDS*/
.section3__titulo-card1{
    margin: 10px;
}
.section3__parrafo-card{
    margin: 10px ;
}
.sectio3{
    padding: 30px;
    display: flex;
    flex-direction: column;
    
}

.section3__card{
    
    
    background-color: #006241;
    margin-top: 30px;
    color:white;
    display: flex;
    flex-direction: column;
    position: relative;
    
    
}
.section3__img-card{
    width: 100%;
}
.section3__titulo-card1 span{
    color: yellow;
}
.section3__contenedor-circulo-amarillo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    color: black;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    top: -25px;
    right: -25px;


}
.section3__button-card-1{
    padding: 8px;
    background-color: #006241;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px;
    width: 40%;
    transition:1s;

}

.section3__button-card-2{
    padding: 8px;
    background-color: #006241;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    width: 80%;
    transition:1s;
}
.section3__contenedor-button-card-2{
    margin: 10px;
}
.section3__button-card-3{
    padding: 8px;
    background-color: #006241;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 15px;
    width: 60%;
    transition:1s;
}


.section3__button-card-1:hover,
.section3__button-card-2:hover,
.section3__button-card-3:hover{
    background-color: rgb(235, 235, 76);
    
}
/*FOOTER*/
.footer{
    background-color: black;
    padding: 20px 15px;
    margin-top: 10px;
    
}
.footer__contenedor{
    display: flex;
    flex-direction: column;
    margin: 15px 5px;
    font-size: 18px;
 
}
.footer__enlace-1{
    color: #006241;
    text-decoration: none;
    margin: 5px;
   
}
.footer__contenedor-redes{
    margin-left: 8px;
}
.footer__contenedor-redes i{
    color:#006241;
    margin-left: 7px;
    

}   
.footer__enlace-3{
    color: #09aa00;
    text-decoration: none;
    margin: 5px;
    
}
/*STARBUCKS EN RESOLUCION TABLET*/

@media (min-width:768px){
    /*HEADER*/
    .header{
        background-color:#006241;
        padding: 15px;
        
    }
    .header__contenedor-usuario-hamburger{
        display: none;
    }
    .header__contenedor-icono-tablet i{
        font-size: 40px;
        color:white;  
    }
    .header__nav-enlaces{
        display: block;
        
    }
    .header__enlaces{
        color: white;
        text-decoration: none;
        margin-right: 10px;
        font-size: 15px;
    }
    /*MAIN*/
    .main{
        display: flex;
        flex-direction: row;
        padding: 40px 40px;
        
    }
    .main__contenedor-imgLogo-starbuck-Main{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 15px;
       
    }
    .main__starbuck-Main{
        width: 80%;
        
    }
    .main__contenedor-titulo-parrafo{
        width: 50%;
    }
    /*SECTION1-GALERIA*/


    .section1{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /*SECTION2-CONTACTANOS*/
    
   
    .section2{
       align-items: center;
    }
    .section2__contenedor-formulario{
        width: 50%;
    }

    /*SECTION3-CARDS*/

    .sectio3{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        
    }
    .section3__card{
       width: 40%;
       margin: 30px;

    }
    /*FOOTER*/
    .footer{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        
    }


}

/*STARBUCKS EN RESOLUCION LAPTOP*/

@media(min-width:1024px){
     /*MAIN*/
    .main__starbuck-Main{
        width: 350px;
        
    }
    .main{
        padding: 35px 100px;
    }
    .main__parrafo{
        font-size: 23px;
    }
    /*CONTACTO*/
    .section2{
        padding: 10%;
    }
    .section2__contenedor-formulario{
        width: 80%;
        height: 320px;
        padding: 20px;
    }


}